
body {
	background-color: lightgreen;
}
.wDivClass {
	height: 50px;
	width: 100px;
	border: 2px solid gray;
	font-size: 25px;
	color: darkblue;
	line-height: 50px;
	text-align: center;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

.canvas {
	background-color: lightgray;
}